<div id="<%= dom_id note %>">
  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <p>
    <strong>Tool:</strong>
    <%= note.tool_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= note.user_id %>
  </p>

</div>
